@page
@model RestaurantSystem.Pages.Order.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.IdSpecialOffer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.IdSpecialOffer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.OrderDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.OrderDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.OrderTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.OrderTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.OrderStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.OrderStatus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.PaymentOption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.PaymentOption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.TotalCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.TotalCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetail.DeliveryCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderDetail.DeliveryCost)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.OrderDetail.IdOrder">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
