@page

@model RestaurantSystem.Pages.AcceptOrderModel
@{
    ViewData["Title"] = "Szczegóły twojego zamówienia";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.IdOrder)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.PhoneNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.Surname)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.Comment)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CustomerData)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdOrder)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.CustomerPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.CustomerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.CustomerSurname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.CustomerEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.CustomerAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        <form method="post">
                            <button type="submit">Złóż zamówienie</button>
                        </form>
                        <form action="Index">
                            <button type="submit">Anuluj</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (ViewData["Message"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewData["Message"]");
            };
    </script>
}

<p> <b> Dziękujemy za zainteresowanie naszymi usługami <i> @Model.CustomerName </i></b> !</p>

