@page
@model RestaurantSystem.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>Oferujemy <a asp-area="" asp-page="Ramen"><i>rameny</i></a> oraz różne <a asp-area="" asp-page="Appetizer"><i>przystawki</i></a></p>   
    <p>Nasze aktualne menu:</p>
    <div>
        <table class="table table-custom table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Składniki</th>
                    <th scope="col">Cena</th>
                    <th scope="col">Typ dania</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dish in Model.AllPositions)
                {
                    <tr>
                        <th scope="row">@dish.IdCourse</th>
                        <td>@dish.CourseName</td>
                        <td>@dish.Ingredients</td>
                        <td>@dish.CourseCost</td>
                        <td>@dish.CourseType</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


