@page
@model RestaurantSystem.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>Nasze menu</p>
    <div>
        <table class="table table-custom table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nazwa</th>
                    <th scope="col">Składniki</th>
                    <th scope="col">Cena</th>
                    <th scope="col">Typ dania</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dish in Model.AllPositions)
                {
                    <tr>
                        <th scope="row">@dish.IdCourse</th>
                        <td>@dish.CourseName</td>
                        <td>@dish.Ingredients</td>
                        <td>@dish.CourseCost</td>
                        <td>@dish.CourseType</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<form action="Ramen">
    <input type="submit" value="Nasze rameny" />
</form>

<form action="">
    <input type="submit" value="Nasze przystawki" />
</form>

