@page
@model RestaurantSystem.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>

    <p>Nasze menu</p>
    <div class="card-columns">
        @foreach (var dish in Model.AllPositions)
        {
            <div class="card">                
                <div class="card-img" style="background-image: url(@Url.Content(dish.CourseImage))" );>  
                    <div class="embed-responsive embed-responsive-16by9">
                        <div class="card-body">
                            @dish.CourseName
                        </div>
                    </div>                
               </div>
            </div>
        }
    </div>
</div>




<div>
    <table class="table table-custom table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nazwa</th>
                <th scope="col">Cena</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var offer in Model.AllPositions)
            {
                <tr>
                    <th scope="row">@offer.IdCourse</th>
                    <td>@offer.CourseName</td>
                    <td>@offer.CourseCost</td>
                </tr>
            }
        </tbody>
    </table>
</div>